<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423721761475-itpose3n9sjq42riqet0o11m05enp6ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423721761475-itpose3n9sjq42riqet0o11m05enp6ql</string>
	<key>API_KEY</key>
	<string>AIzaSyAP91wElAb5DS7n3Sn-_yhV0OIGkGb5ChI</string>
	<key>GCM_SENDER_ID</key>
	<string>423721761475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.HealthyLIfestyleApp</string>
	<key>PROJECT_ID</key>
	<string>healthylifestyleapp-wpam</string>
	<key>STORAGE_BUCKET</key>
	<string>healthylifestyleapp-wpam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423721761475:ios:422403f05f80c332</string>
	<key>DATABASE_URL</key>
	<string>https://healthylifestyleapp-wpam.firebaseio.com</string>
</dict>
</plist>